* {
  padding: 0;
  margin: 0;
}

html, body, .total-area {
  width: 100%;
}

.total-area {
  padding-top: 10vh;
  padding-bottom: 10vh;

  display: flex;
  justify-content: center;

  background-color: #232323;
}